* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background: #6C63FF;
}

header {
    height: 80px;
}

.my-button {
    width: 120px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    color: #2F2E41;
}

h1, h2, my-button {
    text-transform: uppercase;
}

.card {
    background: #FFFFFF;
    border: 2px solid #E6E6E6;
    border-radius: 5px;
    width: 370px;
    padding: 46px 20px;
}

a {
    color: white;
    text-decoration: none;

}

section {
    padding: 100px 0px;
}

.card-image {
    margin: 40px 0px 36px;
}

li {
    padding: 9px 15px;
}